@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
  /* background: #456; */
}

.login, .signup,.addEvents{
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p,
.signup-header,
.signup p,
.addEvents-header,
.addEvents p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle,.signup-triangle,.addEvents-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header,.signup-header,.addEvents-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container,.signup-container,.addEvents-container {
  background: #c2c2c2;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p,.signup p,.addEvents p {
  padding: 12px;
}

.login input,.signup input,.addEvents input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"],
.signup input[type="email"],
.signup input[type="password"],
.signup input[type="text"],
.addEvents input[type="password"],
.addEvents input[type="text"]  {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"],
.login input[type="password"],
.signup input[type="email"],
.signup input[type="password"],
.signup input[type="text"],
.addEvents input[type="email"],
.addEvents input[type="password"],
.addEvents input[type="text"] {
  border-color: #888;
}

.login input[type="submit"],
.signup input[type="submit"],
.addEvents input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover,
.signup input[type="submit"]:hover,
.addEvents input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus,
.signup input[type="submit"]:focus,
.addEvents input[type="submit"]:focus {
  border-color: #05a;
}

.title_main{
  text-align: center;
}

.main_css{
  display: block;
  font-size: 1.1875rem;
  font-size: clamp(1.125rem,1.05682rem + .22727vw,1.25rem);
  font-weight: 600;
  line-height: 1.53125rem;
  line-height: clamp(1.4375rem,1.33523rem + .34091vw,1.625rem);
  margin-bottom: 0.5rem;
  word-break: break-word;
}

.address_css{
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.address_css_div{
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  font-size: .9rem;
  line-height: 1.3125rem;
  margin-bottom: 0.5rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.75rem;
}